@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a {
    font-size: 30px;
    color: white;
    padding: 15px 30px;
    font-family: 'Reem Kufi', sans-serif;
    opacity: 0.85;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid white;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("img/bg-image-upper.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content h2 {
    font-size: 32px;
    padding: 5px;
    color: white;
}
.content img{
    filter: invert(100%);
    /*mix-blend-mode: difference;*/
    opacity: 0.85;
    width: auto;
    height: auto;
}
.content p {
    font-size: 22px;
    color: white;
}


/* Menu */

.menu {
    background-color: #333333;
    width: 100%;
}

.menu .menu-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-header h3 {
    color: orange;
    padding: 10px 30px;
}

.menu-header h4 {
    color: orange;
    padding: 10px 20px;
}

.menu .menu-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #404040;
}
.frappucino-coffees{
    width: 600px;
    font-size: 18px;
}
.frappucino-coffees .frappucino-coffees-image img,
.hot-coffees .hot-coffees-image img,
.cold-coffees .cold-coffees-image img {
    border-radius: 50%;
    width: 350px; /* Set the width to the desired size */
    height: 250px; /* Set the height to the same value as the width */
}

.menu .menu-content .hot-coffees,
.cold-coffees{
    width: 300px;
}

.menu .menu-content .hot-coffees .hot-coffees-image img {
    border-radius: 50%;
}

.menu .menu-content .cold-coffees .cold-coffees-image img {
    border-radius: 50%;
}

.menu .menu-content .frappucino-coffees .frappucino-coffees-image img {
    border-radius: 50%;
}

.menu .menu-content .hot-coffees-body,
.cold-coffees-body,
.frappucino-coffees-body {
    text-align: left;
    margin-top: 10px;
}

.menu .menu-content .hot-coffees-body h2,
.cold-coffees-body h2,
.frappucino-coffees-body h2 {
    color: orange;
}

.menu .menu-content .hot-coffees-body label,
.cold-coffees-body label,
.frappucino-coffees-body label {
    margin-top: 10px;
    color: white;
}

/* Hizmetlerimiz */
.hizmet {
    background-color: #333333;
    width: 100%;
}
.hizmet .hizmet-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.hizmet-header h3 {
    color: orange;
    padding: 10px 30px;
}

.hizmet .hizmet-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #404040;
}
.hizmet-img img{
    border-radius: 50%;
    width: 350px; /* Set the width to the desired size */
    height: 250px; /* Set the height to the same value as the width */
}

.hizmet-content ul {
    
    padding: 10px;
}

.hizmet-content ul li {
    margin-top: 5px;
    color: white;
    font-size: 18px;
}

/* Otoparklarımız */
.otopark {
    background-color: #333333;
    width: 100%;
}

.otopark .otopark-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.otopark h3 {
    color: orange;
    padding: 10px 30px;
}

.otopark .otopark-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #404040;
}

.otopark_1,
.otopark_2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #333333;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    max-width: 500px;
}
.otopark-sub-header {
    color: orange;
}
.otopark-sub-content ul {
    list-style: none;
}

.otopark-sub-content ul li {
    margin: 10px 0;
}

/* Display otopark sections side by side on larger screens */
@media (min-width: 768px) {
    .otopark-content {
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width: 500px) {
    .otopark_1, .otopark_2 {
       max-width: 400px;
       height: auto;
    }
.otopark_1 iframe ,
.otopark_2 iframe{
    width: 400px;
  }
}

@media (max-width: 400px) {
    .otopark_1, .otopark_2 {
       max-width: 350px;
       height: auto;
    }
.otopark_1 iframe ,
.otopark_2 iframe{
    width: 350px;
  }
}

@media (max-width: 350px) {
    .otopark_1, .otopark_2 {
       max-width: 300px;
       height: auto;
    }
.otopark_1 iframe ,
.otopark_2 iframe{
        width: 300px;
      }
}

@media (max-width: 300px) {
    .otopark_1, .otopark_2 {
       max-width: 250px;
       height: auto;
    }
.otopark_1 iframe ,
.otopark_2 iframe{
        width: 250px;
      }
}


/* Shop */

.shop {
    background-color: #333333;
    width: 100%;
}

.shop .shop-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.shop-header h3 {
    color: orange;
    padding: 10px 30px;
}

.shop-header h4 {
    color: orange;
    padding: 10px 20px;
}

.shop-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #404040;
    padding: 50px 0;
    flex-wrap: wrap;
}


.shop .shop-box,
.shop .contact-info {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    padding: 50px 0;
    font-size: 18px;
    background-color: #404040;
    color: white;
    text-align: left;
}

.shop .contact-info h3 {
    color: orange;
}

.shop .contact-info ul {
    list-style: none;
}

.shop .contact-info ul li {
    margin: 20px 0;
}



/* Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #333333;
}

.contact .contact-box {
    flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
    height: 100%;
}

.contact img {
    width: 100%;
    height: 100%;
}

.contact-image img {
    opacity: .9;
}

.contact-body {
    background-color: #404040;
    height: 100%;
    border-left: 2px solid #333333;
}

.contact-body form {
    padding: 50px 40px;
    box-sizing: border-box;
}

.contact-body h2 {
    color: orange;
}

form .form-content {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid lightgray;
}

form .form-content input {
    width: 100%;
    height: 40px;
    padding: 20px 5px;
    font-size: 17px;
    border: none;
    background: rgb(95, 92, 92);
    outline: none;
    color: white;
}

form .form-content label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: orange;
    transform: translateY(-50%);
    font-size: 17px;
    transition: .5s;
    pointer-events: none;
}

form .form-content span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: orange;
    transform: .4s;
}

form .form-content input:focus~label,
form .form-content input:valid~label {
    top: -11px;
    color: orange;
}

form .form-content input:focus~span::before,
form .form-content input:valid~span::before {
    width: 100%;
}

.contact-body form button {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: #ff6600;
    color: white;
    border: 5px;
    cursor: pointer;
    transition: all .4s ease-in;
}

.contact-body form button:hover {
    background-color: #ff6681;
}



/* Footer */


.footer {
    background-color: #404040;
    border-top: 2px solid #333333;
}

.footer .footer-box {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 17px;
    padding: 10px;
    margin: 5px;
}

.footer .footer-box .social-media a:hover {
    opacity: .7;
    transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand span {
    color: orange;
}

/* Responsive */

@media(max-width: 992px) {

    /* Header */

    header {
        flex-direction: column;
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    }

    .menu-header .logo a {
        font-size: 25px;
    }

    header nav ul li a {
        font-size: 16px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 18px;
    }
}


@media(max-width: 950px) {
    .contact .contact-box {
        flex: 100%;
    }
}

@media(max-width: 800px) {

    .menu .menu-content .hot-coffees,
    .cold-coffees,
    .frappucino-coffees {
        margin: 20px;
    }
}

@media(max-width: 700px) {
    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 5px;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
    }
}
@media(max-width: 600px) {
    /* This is to make the header margins tigher in mobile */
    header nav ul li a {
        margin: 10px 10px 5px;
    }

    /* This is to make the logo fit into mobile */
    .content img{
            width: 500px;
            height: auto;
    }
}
@media(max-width: 350px) {
    /* This is to make the header margins tigher in mobile */
    header nav ul li a {
        margin: 5px;
    }
}
@media(max-width: 500px) {

    /* header */

    header {
        height: 130px;
    }

    header .logo a {
        font-size: 23px;
    }

    header nav ul li a {
        font-size: 13px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }
    
    header nav {
        display: flex;
        flex-direction: column;
    }


    /* Content */

    .content h2 {
        font-size: 23px;
    }

    .content p {
        font-size: 16px;
    }


    /* footer */

    .footer .footer-box {
        flex-direction: column;
    }

    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
        margin-top: 10px;
    }

}


@media(max-width: 410px) {

    /* header */

    header {
        height: 120px;
    }

    header .logo a {
        font-size: 20px;
        color: white;
        padding: 15px 30px;
    }

    header nav ul li a {
        font-size: 12px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
        color: white;
        padding: 5px 5px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    /* content */

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 13px;
    }

    .hizmet-img img{
        
        width: 280px; /* Set the width to the desired size */
        height: 210px; /* Set the height to the same value as the width */
    }

    .frappucino-coffees .frappucino-coffees-image img,
    .hot-coffees .hot-coffees-image img,
    .cold-coffees .cold-coffees-image img {
    border-radius: 50%;
    width: 280px; /* Set the width to the desired size */
    height: 210px; /* Set the height to the same value as the width */
}
}

@media(max-width: 600px) {
    /* This is to make the logo fit into mobile */
    .content img{
        width: 500px;
        height: auto;
    }
}

@media(max-width: 500px) {
    /* This is to make the logo fit into mobile */
    .content img{
        width: 450px;
        height: auto;
    }
}
@media(max-width: 450px) {
    /* This is to make the logo fit into mobile */
    .content img{
        width: 400px;
        height: auto;
    }
}
@media(max-width: 400px) {
    /* This is to make the logo fit into mobile */
    .content img{
        width: 300px;
        height: auto;
    }
}
